* {
    box-sizing: border-box;
}

body {
    font-family:"Helvetica", sans;
}

p {
    margin:0;
}

.btn {
    border:none;
    background:transparent;
    outline:none !important;
}
.app-title {
    text-align:center;
    margin:10px 0 6px;
}
.app-wrapper {
    max-width:330px;
}


.header {
    width:100%;
    color:white;
    background-color: #2875c7;
    text-align:center;
    line-height:30px;
}
.header .fa {
    font-size:20px;
}
.header .fa-angle-left {
}
.header .fa-angle-right {
}
.header .btn {
    width:30px;
    height:30px;
    color:white;
}
.header .btn-prev {
    float:left;
}
.header .btn-next {
    float:right;
}
.clearfix:after {
    content:'.';
    height:0;
    display:block;
    clear:both;
    visibility:hidden;
}

.week {
    border-bottom:1px solid #cdcdcd;
    border-right:1px solid #cdcdcd;
}

.week .day {
    float:left;
    display:block;
    text-align:center;
    width:calc(100% / 7);
    height:30px;
    line-height:30px;
    border-left:1px solid #cdcdcd;
    font-size:11px;
}

.week .day.different-month {
    color:#cdcdcd;
}
.week .day.today {
    background-color:#E3F2FF;
}
.week .day.selected {
    background-color:#2875c7;
    color:white;
}

.week.names .day {
    color:#2875c7;
}

.btn-primary {
    margin-top:10px;
    border:1px solid #cdcdcd;
    padding:7px;
    text-align:center;
    width:100%;
}
.attendee {
    padding:10px 10px 8px;
    border:1px solid #cdcdcd;
    border-bottom:none;
}
.attendee .time {
    display:block;
    float:right;
}
.attendee:last-child {
    border-bottom:1px solid #cdcdcd;
}
.attendees {
    margin-top:10px;
}

.comments {
    margin-top:10px;
}

.comment {
    border:1px solid #cdcdcd;
    padding:7px 10px;
    border-radius:5px;
    margin-bottom:5px;
}
.comment:last-child {
    margin-bottom: 0;
}

.selected-day {
    padding-top:10px;
    text-align:center;
}